<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Spring Framework Guru</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/../js/index.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgOCFIO8mLi-kUIGijtkTs81vo51z1rBs&libraries=geometry">-->

</head>
<body style="width: 800px; margin: auto">
	<h1>Caffee meeting</h1>
	
	<div id="message"></div>

	<div class="person-content">
		<div class="user" id="Sara">
			<h3>Sara</h3>
			<div class="row">
				<div class="col-md-5">
					<input class="latitude form-control" />
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-5">
					<input class="longitude form-control" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-5">
					<label>latitude</label>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-5">
					<label>longitude</label>
				</div>
			</div>
		</div>
		<div class="user" id="Sara">
			<h3>Lara</h3>
			<div class="row">
				<div class="col-md-5">
					<input class="latitude form-control" />
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-5">
					<input class="longitude form-control" />
				</div>
			</div>


			<div class="row">
				<div class="col-md-5">
					<label>latitude</label>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-5">
					<label>longitude</label>
				</div>
			</div>
		</div>
	</div>
	<div style="margin-top: 15px; margin-bottom: 15px;">
		<button type="button" id="getLocation" class="btn btn-primary">Where
			shall we meet?</button>

		<!-- Button trigger modal -->
		<button type="button" id="showAddPersonModal"
			class="btn btn-secondary pull-right">Add person</button>
	</div>
	<div class="well well-lg">
		<div class="row">
			<div class="col-md-2">Meet at:</div>
			<div class="col-md-10" id="meetAt"></div>
		</div>

		<div class="row">
			<div class="col-md-2">Closest caffee:</div>
			<div class="col-md-10" id="closestCaffee"></div>
		</div>

	</div>


	<!-- Modal -->
	<div class="modal fade" id="newPersonModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">New person</h4>
				</div>
				<div class="modal-body">
					Name: <input id="newPersonName" class="longitude form-control" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						aria-label="Close">Close</button>
					<button type="button" class="btn btn-primary" id="addPerson">Add</button>
				</div>
			</div>
		</div>
	</div>

	<script id="user-template" type="text/x-handlebars-template">
   	<div class="user" id="{{name}}">
	 	<h3>{{name}}</h3>
		<div class="row">
			<div class="col-md-5"><input class="latitude form-control"/></div>
		 	<div class="col-md-2"></div>
		 	<div class="col-md-5"><input class="longitude form-control"/></div>
	 	</div>
	 
	 	<div class="row">
		 	<div class="col-md-5"><label>latitude</label></div>
		 	<div class="col-md-2"></div>
			<div class="col-md-5"><label>longitude</label></div>
		 </div>
 	</div>
	</script>
	
	<script id="warning-message-template" type="text/x-handlebars-template">
	<div class="alert alert-warning alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		<strong>Warning!</strong> {{message}}
	</div>
	</script>


</body>
</html>